<div class="details">
    <div class="detail"><span class="name">{{ user?.firstName + " " + user?.lastName }}</span></div>
    <div class="detail"><span class="{{ user?.isDeleted ? 'deleted' : 'active' }}">{{ user?.isDeleted ? 'Deleted' : 'Active' }}</span></div>
    <div class="detail"><span>Login Id: </span><span>{{ user?.login }}</span></div>
    <div class="detail"><span>First Name: </span><span>{{ user?.firstName }}</span></div>
    <div class="detail"><span>Last Name: </span><span>{{ user?.lastName }}</span></div>
    <div class="detail"><span>Age: </span><span>{{user?.age}}</span></div>
</div>