.card{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.active-card{
    border: 2px solid green;
}

.deleted-card{
    border: 2px solid red;
}
