<div class="card" class="{{user?.isDeleted ? 'deleted-card' :'active-card'}}">
    <span>{{user.firstName + " "+ user.lastName}}</span>

    <button *ngIf="showUserDetails" class="btn btn-warning" (click)="editUser(user.id)">Edit</button>

    <button 
        class="{{showUserDetails ? 'manage-button' : 
            (user?.isDeleted ? 'activate-button' : 'deactivate-button')}}"
        (click)="modifyStatus(user)"
    >
    {{showUserDetails ? 'Details' : (user?.isDeleted ? 'Activate' : 'Deactivate')}}
    </button>
</div>